.header
  グループを作成しました。

.side-header
  .hedder-top
    .hedder-top--title
      test
    .hedder-top--button-conf
      = link_to new_group_path do
        =fa_icon("cog")

    .hedder-top--button-edit
      = link_to edit_user_path(current_user) do
        =fa_icon("edit")

  .hedder-bottom
    .side-hedder--topic

      .side-hedder--topic__title
        test
      .side-hedder--topic__comment
        さようなら
      .side-hedder--topic__title
        sample-group
      .side-hedder--topic__comment
        hello
      .side-hedder--topic__title
        example
      .side-hedder--topic__comment
        まだメッセージがありません。

=render partial: "messages"

    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'

   .messages
      = render @messages
